/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --accent-font: PressStart2P-Regular;
  --main-font: Inter-Variable;
}